swiper-container {
  background-color: #cdcdcd;
  height: 100%;
}

swiper-container img {
  min-width: 100%;
  min-height: 100%;
}

ion-col.no-space {
  padding: 0px;
  margin: 0px;
}

ion-row {
  height: 100%;
 }
