<ion-content [fullscreen]="true" style="--ion-safe-area-bottom: 0px;">
  <ion-grid class="background">
    <ion-row
      *ngIf="!restorePass"
      style="height: 100vh; margin: 0px;padding: 0px;"
      class="ion-justify-content-center ion-align-items-center"
    >
      <ion-col eXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Iniciar Sesión</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row
                class="ion-justify-content-center ion-align-items-center"
              >
                <ion-col>
                  <form>
                    <ion-list>
                      <ion-item class="ion-margin-bottom">
                        <ion-input
                          type="email"
                          label="Correo Electrónico"
                          labelPlacement="floating"
                          placeholder="Ingrese su Correo Electrónico"
                          fill="solid"
                        ></ion-input>
                      </ion-item>

                      <ion-item class="ion-margin-bottom">
                        <ion-input
                          label="Contraseña"
                          labelPlacement="floating"
                          placeholder="Ingrese su Contraseña"
                          [type]="showPass ? 'password' : 'text'"
                          fill="solid"
                        >
                          <ion-icon
                            slot="start"
                            name="lock-closed"
                            aria-hidden="true"
                          ></ion-icon>
                          <ion-button
                            fill="clear"
                            slot="end"
                            aria-label="Show/hide"
                            (click)="showPassFunction()"
                            color="tertiary"
                          >
                            <ion-icon
                              slot="icon-only"
                              name="eye"
                              aria-hidden="true"
                            ></ion-icon>
                          </ion-button>
                        </ion-input>
                      </ion-item>
                    </ion-list>
                    <div class="ion-text-center ion-margin-bottom">
                      <ion-button expand="block" shape="round" color="tertiary">
                        Iniciar Sesión
                      </ion-button>
                    </div>
                    <div class="ion-text-center">
                      <ion-button
                        fill="clear"
                        expand="block"
                        color="tertiary"
                        (click)="restorePassFunction()"
                      >
                        Olvidé mi Contraseña
                      </ion-button>
                    </div>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row
      *ngIf="restorePass"
      style="height: 100vh"
      class="ion-justify-content-center ion-align-items-center"
    >
      <ion-col eXs="12" sizeMd="6">
        <ion-card [class]="security === 'success' ? 'card-success' : ''">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Recuperar Contraseña</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row
                class="ion-justify-content-center ion-align-items-center"
              >
                <ion-col>
                  <form>
                    <ion-list>
                      <ion-item class="ion-margin-bottom">
                        <ion-input
                          type="email"
                          label="Correo Electrónico"
                          labelPlacement="floating"
                          placeholder="Ingrese su Correo Electrónico"
                          fill="solid"
                        ></ion-input>
                      </ion-item>
                    </ion-list>

                    <ion-list>
                      <ion-item class="ion-margin-bottom">
                        <ion-input
                          label="Contraseña"
                          labelPlacement="floating"
                          placeholder="Ingrese su Contraseña"
                          [type]="showPass ? 'password' : 'text'"
                          fill="solid"
                          (input)="validatePassword($event)"
                          class="custom"
                          [helperText]="passMessage"
                          [counter]="true"
                        >
                          <ion-icon
                            slot="start"
                            name="lock-closed"
                            aria-hidden="true"
                          ></ion-icon>
                          <ion-button
                            fill="clear"
                            slot="end"
                            aria-label="Show/hide"
                            (click)="showPassFunction()"
                            color="tertiary"
                          >
                            <ion-icon
                              slot="icon-only"
                              name="eye"
                              aria-hidden="true"
                            ></ion-icon>
                          </ion-button>
                        </ion-input>
                      </ion-item>

                      <div class="ion-text-center ion-margin-bottom">
                        <ion-button
                          expand="block"
                          shape="round"
                          color="tertiary"
                        >
                          Siguiente
                        </ion-button>
                      </div>
                      <div class="ion-text-center">
                        <ion-button
                          fill="clear"
                          expand="block"
                          color="tertiary"
                          (click)="restorePassFunction()"
                        >
                          Iniciar Sesión
                        </ion-button>
                      </div>
                    </ion-list>
                  </form>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-progress-bar
            [value]="progress"
            [buffer]="buffer"
            [color]="security"
          ></ion-progress-bar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
